/*////////////////////////////Style////////////////////////////////////////*/
/*////////////////////////////Header////////////////////////////////////////*/
/*////////////////////////////Navigation-bar////////////////////////////////////////*/
.menu {
  position: relative;
  top: -32px;
  width: 100%;
  height: 70%;
  background: #ED0000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  transform: translateX(0);
}

.menu-toggle {
  display: none;
}

nav input[type=checkbox] {
  display: none;
}

nav ul {
  display: flex;
}

nav li {
  position: relative;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  width: 105px;
  height: 30px;
}

nav a, li {
  list-style: none;
  text-decoration: none;
  font-family: arial;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  transform: rotate(-0.03deg);
}

.navigation a:hover {
  color: black;
}

nav.open {
  transform: translateX(0);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  width: auto;
  height: 380px;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #ED0000;
  scrollbar-width: thin;
  scrollbar-color: #333 #ED0000;
  -ms-overflow-style: none;
}

.dropdown-content ul {
  width: 100%;
}

.dropdown-content li {
  position: relative;
  left: -20px;
  width: auto;
  height: auto;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
  height: 50px;
  font-size: 10px;
  border: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
  justify-content: center;
  align-items: center;
}

.dropdown-content::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #333;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #ED0000;
}

/*////////////////////////////Navigation-Bar////////////////////////////////////////*/
/*////////////////////////////Fin header////////////////////////////////////////*/
body {
  background-color: rgba(128, 128, 128, 0.1);
}

header {
  width: 100%;
  height: 100px;
}

.headtext {
  position: relative;
  top: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #ED0000;
}

.banner {
  border: 1px solid brown;
  width: 100%;
  height: 300px;
  position: relative;
  top: -14.5px;
  z-index: -1;
  overflow: hidden;
}
.banner b {
  position: relative;
  top: -15px;
  font-family: arial;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}
.banner p {
  position: relative;
  left: 6%;
  top: 12%;
  width: 480px;
  height: 200px;
  text-align: justify;
  font-family: arial;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  z-index: 1;
  border: 1px solid red;
}
.banner img {
  position: relative;
  top: -100%;
  width: 100%;
}

/*////////////////////////////Latest News////////////////////////////////////////*/
.ln {
  position: relative;
  top: -12px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  z-index: -1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.contour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 180px;
  height: 100%;
}
.contour h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  font-family: arial;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.scrolling-container {
  width: 100%;
  overflow: hidden;
}

.scrolling-container ul {
  display: flex;
  white-space: nowrap;
  animation: scrolling-animation 30s linear infinite;
}

.scrolling-container li {
  list-style: none;
  margin-right: 10px;
}

@keyframes scrolling-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/*////////////////////////////Fin Latest News////////////////////////////////////////*/
#bgc {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
}

/*////////////////////////////Principale Article Container////////////////////////////////////////*/
/*////////////////////////////Slider////////////////////////////////////////*/
.diapo {
  width: 65%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px #939292;
}

.elements {
  display: flex;
}

.element {
  flex: 1 0 100%;
  position: relative;
}

.element > img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: start;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.caption h2 {
  font-family: arial;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 800;
}
.caption p {
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
}
.caption p svg {
  margin-right: 5px;
}

#nav-gauche, #nav-droite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#nav-droite {
  right: 0;
}

/*////////////////////////////Fin slider////////////////////////////////////////*/
/*////////////////////////////Right Container about latest, popular or fire article////////////////////////////////////////*/
.container {
  display: block;
  width: 30%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type=radio] {
  display: none;
}

label {
  position: relative;
  top: 10px;
  left: 10%;
  cursor: pointer;
  margin: 10px;
  padding-right: 10px;
}

#sectionContainer {
  width: 100%;
  height: auto;
  position: relative;
  top: 25px;
}

.section1 {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.section2 {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.section3 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

#section1Radio:checked ~ #sectionContainer > .section1 {
  display: block;
}

#section2Radio:checked ~ #sectionContainer > .section2 {
  display: block;
}

#section3Radio:checked ~ #sectionContainer > .section3 {
  display: block;
}

#section1Radio:checked ~ .l1 {
  text-decoration: underline red;
}

#section2Radio:checked ~ .l2 {
  text-decoration: underline red;
}

#section3Radio:checked ~ .l3 {
  text-decoration: underline red;
}

#sectionContainer > div {
  display: none;
}

.art1 {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px #939292;
}
.art1 img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 5px;
  background-color: black;
}
.art1 h3 {
  position: relative;
  top: 0px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  font-style: arial;
  font-size: 13px;
  color: white;
  background-color: red;
  border-radius: 30px;
}
.art1 p {
  position: relative;
  top: 20px;
  left: -45px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  font-style: arial;
  border: 1px solid black;
}

.l1 {
  border-right: 2px solid black;
}
.l1 svg {
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.l2 {
  border-right: 2px solid black;
}
.l2 svg {
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.l3 svg {
  position: relative;
  top: 6px;
  margin-right: 5px;
}

/*////////////////////////////Fin Right Container about latest, popular or fire article////////////////////////////////////////*/
.cntrp {
  position: relative;
  top: 20px;
  width: 100%;
  border: 1px solid blue;
}

.article {
  position: relative;
  width: 65%;
  left: 10px;
}

.sectiona {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 400px;
  border: 1px solid red;
}
.sectiona img {
  position: relative;
  width: 50%;
  height: 100%;
}
.sectiona h2 {
  position: relative;
  top: -80%;
  left: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  font-style: "arial";
  font-size: 13px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 30px;
}
.sectiona h4 {
  position: relative;
  top: -80%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  font-style: "arial";
  font-size: 16px;
  color: black;
  border: 1px solid blue;
}
.sectiona h5 {
  position: relative;
  top: -70%;
  left: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  font-style: "arial";
  font-size: 16px;
  border: 1px solid pink;
}
.sectiona p {
  position: relative;
  top: -65%;
  left: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  font-style: "arial";
  font-size: 16px;
  border: 1px solid black;
}
.sectiona a {
  text-decoration: none;
}
.sectiona h5:hover {
  color: red;
}
.sectiona h2:hover {
  transform: scale(1.2);
}
.sectiona h4:hover {
  color: silver;
}

.rej {
  position: absolute;
  top: 15%;
  right: 0;
  width: 30%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rej .bandeau {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.rej .bandeau p {
  background-color: red;
  display: flex;
  justify-content: start;
  align-items: center;
  font-style: arial;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  width: 28%;
  height: 100%;
  padding-left: 5px;
  border-bottom-right-radius: 15px;
}
.rej .link {
  position: relative;
  top: 15%;
  width: 100%;
  height: auto;
  font-style: arial;
  font-size: 18px;
}
.rej .link a {
  color: rgb(255, 165, 0);
  text-decoration: none;
  font-style: arial;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rej .link a:hover {
  text-decoration: underline rgba(0, 0, 0, 0.4);
  color: rgba(255, 165, 0, 0.5);
}
.rej .link p {
  color: rgba(0, 0, 0, 0.8);
  font-style: arial;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.perso {
  position: absolute;
  top: 65%;
  right: 0;
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.perso .month {
  position: relative;
  width: 40%;
  height: 250px;
  border: 1px solid red;
}
.perso .nmonth {
  position: relative;
  width: 40%;
  height: 250px;
  margin-left: 10%;
  border: 1px solid red;
}
.perso p {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-bottom: 2px solid white;
}
.perso h6 {
  position: relative;
  width: 100%;
  height: 4s0px;
  border: 1px solid black;
}

/*////////////////////////////Fin Principale Article Container////////////////////////////////////////*/
/*//////////////////////////// pages(bouton)////////////////////////////////////////*/
.pages {
  width: 20%;
  height: 50px;
  display: flex;
  position: relative;
  top: 40px;
  left: 40%;
  border: 1px solid black;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
  width: 50px;
  height: 100%;
  text-decoration: none;
  margin-left: 20px;
  border-radius: 5px;
}

.btn1 {
  background-color: blue;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover {
  background-color: blue;
  transform: scale(1.1);
}
.btn1:hover .bttn, .btn2:hover .bttn, .btn3:hover .bttn, .btn4:hover .bttn, .btn5:hover .bttn {
  background-color: blue;
}

.bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: purple;
  border-radius: 5px;
}

/*////////////////////////////Fin pages(bouton)////////////////////////////////////////*/
/*////////////////////////////Footer////////////////////////////////////////*/
footer {
  width: 100%;
  height: auto;
  position: relative;
  top: 60px;
  border: 1px solid red;
  background-color: darkblue;
}

.jsp {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  border: 1px solid black;
}
.jsp a {
  padding-right: 20px;
  padding-left: 20px;
}

.endtittle {
  position: relative;
  width: 30%;
  height: auto;
  padding: 20px;
  border: 1px solid black;
}
.endtittle h1 {
  width: auto;
  height: auto;
  border: 1px solid red;
}
.endtittle h4 {
  width: auto;
  height: auto;
  border: 1px solid blue;
}

.troll {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

/*////////////////////////////Fin Footer////////////////////////////////////////*/
/*////////////////////////////Navigation-Bar////////////////////////////////////////*/
@media screen and (max-width: 1400px) {
  .menu {
    border: 1px solid yellow;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
  }
  .menu-toggle {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  .menu-toggle svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: white;
  }
  nav input[type=checkbox] {
    display: none;
  }
  nav ul {
    position: absolute;
    top: 48px;
    display: none;
    z-index: 10;
    width: 100%;
    background: red;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    z-index: 5;
  }
  nav li {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    z-index: 5;
  }
  ul a, li {
    position: relative;
    list-style: none;
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    z-index: 5;
  }
  .navigation a:hover {
    color: white;
  }
  input[type=checkbox]:checked + .menu-toggle + ul {
    display: block;
  }
  nav.open {
    transform: translateX(0);
  }
  .dropdown-content {
    width: 70%;
    display: none;
    position: absolute;
    left: 90%;
    top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: blue;
    z-index: 5;
  }
  .dropdown-content li {
    width: 100%;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */